# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
*/
!common/
!common/**
common/rf_devices/*
!common/rf_devices/template*
common/secrets.yaml
